@using BookPublish_WebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Bejelentkezés";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="top-content">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Könyvelést támogató alkalmazás</h3>
                    <p>Add meg a felhasználóneved és jelszavadat a belépéshez:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-key"></i>
                </div>
            </div>
            <div class="form-bottom" id="login">
                
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-username form-control", placeholder = "Felhasználónév" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Jelszó" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button class="btn btn-login" type="submit">Bejelentkezés</button>
                        </div>
                                        
                                                                        
                               
                    }
                </section>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
