@model BookPublish_WebApp.Models.UserViewModel

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">

            <ul id="errormessage" name="errormessage"></ul>
             
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.ConfirmPassword)


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SelectedRoleID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedRoleID, Model.AllRoles, "Válassz szerepkört", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedRoleID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            
        </div>        
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary">@Html.ActionLink("Mentés", "Edit", "UserManager", new { id = String.Empty }, new { id = "btn-edit-submit" })</button> @*Az id String.Empty szándékosan szerepel ott, hogy ne egészítse ki a url-t Length-vel*@
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" id="cancel">Mégsem</button>
    </div>
}

