
@model BookPublish_WebApp.Models.UserViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">

            <ul id="errormessageCreate" name="errormessageCreate"></ul>

            @Html.HiddenFor(model=>model.ID)
            @Html.HiddenFor(model=>model.Email)
            @Html.HiddenFor(model => model.SelectedRoleID)
            @Html.HiddenFor(model => model.UserName)


            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary">@Html.ActionLink("Mentés", "ChangePassword", "UserManager", new { id = String.Empty }, new { id = "btn-changepwd-submit" })</button> @*Az id String.Empty szándékosan szerepel ott, hogy ne egészítse ki a url-t Length-vel*@
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" id="cancel">Mégsem</button>
    </div>
}