@model BookPublish_WebApp.Models.DepotsViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Raktárok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Raktárok</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.NameSort)
    @Html.HiddenFor(m => m.CurrentFilter)
    @Html.HiddenFor(m => m.SortOrder)

    <div class="container-fluid">
        @Html.Label("Keresés: ")
        @Html.TextBox("SearchString")
    </div>
    <table class="table table-striped table-hover table-responsive table-condensed" border="0">
        <tr>
            <th> # </th>
            <th>
                @Html.ActionLink("Raktár neve", "Index", new { sortOrder = Model.NameSort, currentfilter = Model.CurrentFilter, pagesize = Model.PageSize })
            </th>
            <th>
                @Html.ActionLink("Irányítószám", "Index", new { sortOrder = Model.ZipSort, currentfilter = Model.CurrentFilter, pagesize = Model.PageSize })
            </th>
            <th>
                @Html.ActionLink("Város", "Index", new { sortOrder = Model.CitySort, currentfilter = Model.CurrentFilter, pagesize = Model.PageSize })
            </th>
            <th>
                @Html.ActionLink("Cím", "Index", new { sortOrder = Model.AddressSort, currentfilter = Model.CurrentFilter, pagesize = Model.PageSize })
            </th>
            <th>
                @Html.ActionLink("Raktár típus", "Index", new { sortOrder = Model.TypeSort, currentfilter = Model.CurrentFilter, pagesize = Model.PageSize })
            </th>
            <th>
                Találatok:
                @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "2", 2 }, { "5", 5 }, { "10", 10 } }, "Key", "Value", 10), new { id = "pagesizelist" })
                db/oldal
            </th>
        </tr>


        @for (int i = 0; i < Model.Depots.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(model => model.Depots[i].ID)
                    @Html.HiddenFor(model => model.Depots[i].Depot_Name)
                    @Html.HiddenFor(model => model.Depots[i].Address)
                    @Html.HiddenFor(model => model.Depots[i].Zip)
                    @Html.HiddenFor(model => model.Depots[i].City)
                    @Html.HiddenFor(model => model.Depots[i].Type)
                    @Html.EditorFor(model => model.Depots[i].IsDeleted)
                </td>

                <td align="center">
                    @Html.DisplayFor(modelItem => Model.Depots[i].Depot_Name)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => Model.Depots[i].Zip)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => Model.Depots[i].City)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => Model.Depots[i].Address)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => Model.Depots[i].Type.Type)
                </td>
                <td>
                    <button>@Html.ActionLink("Edit", "Edit", new { id = Model.Depots[i].ID })</button>

                </td>
            </tr>
        }

    </table>

    <div class="container">
        Page @Model.PageNumber of @Model.PageCount

        @Html.PagedListPager(new PagedList.PagedList<object>(Model.PagerList.AsQueryable(), Model.PageNumber, Model.PageSize),
                page => Url.Action("Index", new { page, sortOrder = Model.CurrentSort, currentFilter = Model.CurrentFilter, pagesize = Model.PageSize }))
    </div>
    <div class="container">
        <input type="submit" value="Törlés" />
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


}