@model PagedList.IPagedList<bookPublishDB.Cover>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Borítók";
    ViewBag.pagesizelist = 2;
    var count = Model.Count;
}

<h2>Borítók</h2>

@using (Html.BeginForm("Index", "Covers", FormMethod.Get))
{
    <p>@Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "col-offset-xs-2 col-xs-2" }) <input class="col-xs-offset-3 col-xs-2" type="submit" value="Keresés" /></p>
}

<table class="table">
    <tr>
        <th align="center">
            @Html.ActionLink("Név", "Index", new { sortOrder = ViewBag.CoverName, currentfilter = ViewBag.CurrentFilter, pagesize = ViewBag.PageSize })
        </th>
        <th align="center">
            @Html.ActionLink("Aktív", "Index", new { sortOrder = ViewBag.Active, currentfilter = ViewBag.CurrentFilter, pagesize = ViewBag.PageSize })
        </th>
        <th align="center">
            Találatok:
            @using (Html.BeginForm("Index", "Covers", FormMethod.Get))
            {
                @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "2", 2 }, { "5", 5 }, { "10", 10 } }, "Key", "Value", 10), new { id = "pagesizelist"})
                @Html.Hidden("sortorder", ViewBag.CoverName as string)                
            }
        </th>
    </tr>
    

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <button>@Html.ActionLink("Edit", "Edit", new { id = item.ID }) </button>

            </td>
        </tr>
    }

</table>

@*@if (count > ViewBag.pagesizelist)
{*@
    <div class="container">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pagesize = ViewBag.PageSize }))
    </div>
@*}*@
<div class="container">

    <button class="btn btn-default col-xs-offset-2 col-xs-2">@Html.ActionLink("Create New", "Create")</button>
    <button class="btn btn-danger col-xs-offset-4 col-xs-2">@Html.ActionLink("Delete", "Delete")</button>

</div>

@section scripts{
    <script>
        $('#pagesizelist').on('change', function (event) {
            var form = $(event.target).parents('form');
            
            form.submit();
        });
        //$('#pagesizelist').on('change', function(event){
        //   ViewBag.pagesizelist = $("select option:selected").text();
        //});

        $("#DeleteSelectedChkbx").click(function () {
    var checkGridSelection = "";
    var selected = $(".grid_checkbox:checked").map(function () {
        checkGridSelection = "Selected";
        return this.id;
    }).get();

    if (checkGridSelection == "Selected") {
        var r = confirm("The selected group(s) will be deleted. Do you want to continue?");
        if (r == true) {
            var selectedIds = selected.join(";");
            //alert(selectedIds);
            var serviceURL = '/Groups/DeleteGroups';
            $.ajax({
                type: 'Post',
                cache: false,
                url: serviceURL,
                data: { selectedIds: selectedIds },
                //dataType: "json",
                success: function (data) {
                    //alert("delete success");
                }
            });
        }
    }
    window.location.href = '/Groups';
});
    </script>
}
