@model BookPublish_WebApp.Models.RoleViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Szerepkörök management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="nifty">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Index", "RoleManagement"))
    {

        <div class="right-inner-addon">
            <i class="icon-search"></i>
            @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Keresés" })
        </div>


        <table class="table table-hover table-responsive table-condensed" border="0" width="100%">
            <tr>
                <th align="center" width="(100/x)%">
                    @Html.ActionLink("Role neve", "Index", "RoleManager", new { sortOrder = Model.NameSort, currentfilter = Model.CurrentFilter }, null)
                </th>
                <th align="right" width="(100/x)%">
                    Találatok:
                    @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "2", 2 }, { "5", 5 }, { "10", 10 } }, "Key", "Value", 10), new { id = "pagesizelist" })
                    db/oldal

                </th>
            </tr>

            @foreach (var item in Model.Roles)
            {
                <tr>

                    <td width="(100/x)%" align="center">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td width="(100/x)%" align="center">
                        <button class="btn btn-table">@Html.ActionLink("Szerkesztés", "Edit", new { id = item.Id }, new { @class = "editbutton" }) </button>                        
                    </td>
                </tr>
            }

        </table>

        <div class="container">
            Page @Model.PageNumber of @Model.PageCount

            @Html.PagedListPager(new PagedList.PagedList<object>(Model.PagerList.AsQueryable(), Model.PageNumber, Model.PageSize),
                  page => Url.Action("Index", "RoleManager", new { page, sortOrder = Model.CurrentSort, currentFilter = Model.CurrentFilter, pagesize = Model.PageSize }))
        </div>

        <div class="container">            
            <button class="btn btn-table col-sm-offset-2 col-sm-2" data-toggle="modal" data-target="#createnewRole"><span class="glyphicon glyphicon-plus"></span>Új szerepkör</button>

        </div>

    }

    <div class="modal fade deletedialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title">Törlés</div>
                </div>
                <div class="modal-body">
                    Biztosan törölni szeretnéd a kijelölt tételeket?
                </div>
                @Html.Partial("_partialDelete")                
            </div>
        </div>

    </div>

    <div class="modal fade" id="createnewRole" tabindex="-1" role="dialog" aria-labelledby="createnewRole" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title">Új szerepkör hozzáadaása</div>
                </div>
                @Html.Partial("_partialCreateRole")
            </div>

        </div>
    </div>

    <div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="editor" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title">Szerepkör szerkesztése</div>
                </div>
                <div name="modaldata" id="modaldata"></div>

            </div>

        </div>
    </div>

</div>

